{
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "indent": ["off"],
    "comma-dangle": [1, "always-multiline"],
    "react/prop-types": 0,
    "jsx-a11y/alt-text": [0],
    "default-param-last": 0,
    "import/prefer-default-export": 0,
    "react-hooks/exhaustive-deps": 0,
    "no-console": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }],
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "react/no-array-index-key": 0,
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "trailingComma": "all"
      }
    ]
  }
}
