{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2],
    "comma-dangle": [1, "always-multiline"],
    "react/prop-types": 0
  }
}
